name: build test
on: [push]

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                go-version: [1.24.x]
        steps:
            - name: checkout source code
              uses: actions/checkout@v4
            - name: Install Go
              uses: actions/setup-go@v5
              with:
                go-version: ${{ matrix.go-version }}
            - name: Build binary
              run: |
                go test aws-lambda-go-demo/src -v
                make build